<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Simplified</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSPo86F2DoJ_-mJ0aqzope5nsYRRHdFMo0h9A&usqp=CAU" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- GEOCODING -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hotel-Simplified</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="<%= typeof page !== 'undefined' && page === 'hotels' ? 'active' : '' %>"><a href="/hotels">Home</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/contact">Contact</a></li>
                  <% if(!currentUser){ %>
                      <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                      <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                  <% } else { %>
                      <li><a href="/users/<%= currentUser.id%>">Signed In As <%= currentUser.username %></a></li>
                      <li><a href="/logout">Logout</a></li>
                  <% } %>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0) {%>
            <div class="alert alert-danger" role="alert">   
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) {%>
            <div class="alert alert-success" role="alert">   
                <%= success %>
            </div>
        <% } %>
    </div>
    