<%- include("../partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Hotel-Simplified !</h1>
            <p>View your hand-picked hotels from all over the world !</p>
            <% if(currentUser){ %>
            <p>
                <a href="/hotels/new" class="btn btn-primary btn-large">Add new Hotel</a>
            </p>
            <% } %>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% hotels.forEach(function(hotel){ %> 
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= hotel.image %>" alt="<%= hotel.name %> Image">
                    <div class="caption">
                        <h4><%= hotel.name %></h4>
                    </div>
                    <p>
                        <a href="/hotels/<%= hotel._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>  
    </div>
</div>
<%- include("../partials/footer") %>