<%- include("partials/header") %>
<h1>This is the Hotels Page !</h1>
<a href="/hotels/new">Add new Hotel</a>
<% hotels.forEach(function(hotel){ %> 
    <div>
        <h4><%= hotel.name %></h4>
        <img src="<%= hotel.image %>" alt="<%= hotel.name %> Image">
    </div>
<% }); %>

<%- include("partials/footer") %>